/* defines CSS properties for the Search DOM */

html, body{
    margin: 0;
    font-family: 'Catamaran', sans-serif;

}
body{
    background-color: #fcfcfc;
}
.header {
    overflow: hidden;
    background-color: #f5f9fa;
    text-align: center;
    border-bottom: 2px solid  #86d0f0;
}

.main-head {
    font-family: 'Catamaran', sans-serif;
    color: #333333;
    font-weight: bolder;
    cursor: pointer;
}

.search-body {
    padding: 10px;
    text-align: center;
}

.card{
    margin: 0 auto;
    display: flex;
   
    align-content: center;
    align-items: center;
    cursor: pointer;
    
}

.search_field{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
input{
    border: none;
    outline: none;
}
.sorryText {
    color: gray;

}
/* Phones - legacy Android phones, iPhone SE */
@media only screen and (max-width: 600px) {
    .header{
        padding: 15px 5px;
    }
    .main-head{
        font-size: 1.1em;
    }
    input {
        width: 90%;
        padding: 5px;
        height: 30px;
        -webkit-appearance: none;
    }
    .card{
        width: 90%;
        justify-content: flex-start;
        margin-top: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

   img {
    width: 50px;
    height: 50px; 
    margin-left: 10px;
    }
    .country{
        font-size: 0.8em;
        padding-left: 5px;
        text-align: left;
    }
    
} 

/* Phones - bigger screens */
@media only screen and (min-width: 600px) {
    .header{
        padding: 15px 5px;
    }
    .main-head{
        font-size: 1.5em;
    }
    input {
        width: 80%;
        height: 30px;
       padding: 10px;
        -webkit-appearance: none;
    }
    .card{
        width: 80%;
        justify-content: flex-start;
        margin-top: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    img {
        width: 60px;
        height: 60px; 
        margin-left: 10px;
     }
     .country{
        padding-left: 8px;
        text-align: left;
    }
    
} 

/* iPads, Surface Go, random Windows and Android tablets */
@media only screen and (min-width: 768px) {
    .header{
        padding: 5px 2px;
    }
    .main-head{
        font-size: 1.5em;
    }
    input {
        width: 80%;
        height: 40px;
        padding: 10px;
        -webkit-appearance: none;
    }
    .card{
        width: 80%;
        justify-content: flex-start;
        margin-top: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    img {
        width: 70px;
        height: 70px; 
        margin-left: 20px;
        }
        .country{
            padding-left: 10px;
            text-align: left;
        }

} 

/* Laptops */
@media only screen and (min-width: 992px) {
    .header{
        padding: 15px 5px;
    }
    .main-head{
        font-size: 1.7em;
    }
    input {
        width: 85%;
        height: 40px;
        padding: 15px;
        -webkit-appearance: none;
    }
    .card{
        width: 85%;
        margin-top: 15px;
        justify-content: flex-start;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    img {
        width: 100px;
        height: 100px; 
        margin-left: 20px;
        }
        .country{
            padding-left: 15px;
            text-align: left;
        }
    
} 

/* PC Monitors */
@media only screen and (min-width: 1200px) {
    .header{
        padding: 5px 2px;
    }
    .main-head{
        font-size: 2em;
    }
    input {
        width: 85%;
        height: 40px;
        padding: 15px;
        -webkit-appearance: none;
    }
    .card{
        width: 85%;
        justify-content: flex-start;
        margin-top: 15px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    img {
       
        width: 100px;
        height: 100px; 
        margin-left: 20px;
    }
    .country{
        padding-left: 15px;
        text-align: left;
    }
   
}
